.main-news {

    // margin-bottom: 2rem;



    &__title {
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 2.25rem;

        @media (width < 670px) {
            font-size: 2.5rem;
        }

        @media (width < 500px) {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }

        @media (width < 400px) {
            font-size: 1.7rem;
        }
    }

    &__img {
        margin-bottom: 1rem;
    }

    &__description {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
    }

    &__btn-more {

        &:hover {
            transform: rotate(5deg);
        }

        @media(width < 400px) {
            font-size: 0.7rem;
        }
    }

    &__btn-news {
        font-size: 0.8rem;
        font-weight: 600;

        @media (width < 400px) {
            font-size: 0.7rem;
            font-weight: 500;
        }
    }

}