.main-news {

    margin-bottom: 2rem;

    &__title {
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 2.25rem;
    }

    &__img {
        margin-bottom: 1rem;
    }

    &__description {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
    }

    &__btn-more {

        &:hover {
            transform: rotate(5deg);
        }
    }

    &__btn-news {
        font-size: 0.8rem;
        font-weight: 600;
    }

}